/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    font-size: 16px;
    background-color:rgb(103, 93, 147);
    height:100vh;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-data img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


