<!-- weather.component.html -->

<div class="container" id="search">
  <h3 class="app-title">Current Weather</h3>
  <form (ngSubmit)="getWeather()">
    <input type="text" id="city" name="city" [(ngModel)]="city" class="form-control"  placeholder="Enter city..">
    <button type="submit" class="btn btn-primary">Get Weather</button>
   </form>
 </div>
<div class="weather-app">
 <div class="upper-data">
   <img src="../assets/sunny.webp">
     <div class="weatherdata">
       <div class="location" *ngIf="weatherData" >{{ weatherData.name }}</div>
       <div class="temperature" *ngIf="weatherData" >Temperature: {{ weatherData.main.temp }}°C</div>
    </div>
 </div>

 <div  class="lower-data">
   <div  class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
            <img src="">
            <span>City</span>
        </div>
        <div *ngIf="weatherData" class="info-block-value">
         {{ weatherData.name }}
        </div>
      </div>

      <div class="info-block">
       <div class="info-block-label">
           <img src="">
           <span>Desc</span>
       </div>
       <div *ngIf="weatherData" class="info-block-value">
         {{ weatherData.weather[0].description }}
       </div>
     </div>

     <div class="info-block">
       <div class="info-block-label">
           <img src="../assets/min.png">
           <span>MIN</span>
       </div>
       <div *ngIf="weatherData" class="info-block-value">
          10°C
       </div>
     </div>

     <div class="info-block">
       <div class="info-block-label">
           <img src="../assets/max.jpg">
           <span>MAX</span>
       </div>
       <div *ngIf="weatherData" class="info-block-value">
          28°C
       </div>
     </div>
   </div>
 </div>

 <div *ngIf="error" class="error-msg">
   <p>{{ error }}</p>
 </div>
</div>


